@{
    ViewData["Title"] = "Inicio Supervisor";
}

<a asp-controller="ReporteDiario" asp-action="CrearReporte" class="btn btn-primary mb-3">Crear Reporte</a>
<a asp-controller="ReporteDiario" asp-action="ListaReportesDiarios" class="btn btn-primary mb-3">Reportes Diarios</a>
<a asp-controller="Facturas" asp-action="ListaFacturas" class="btn btn-primary mb-3">Facturas</a>
<a asp-controller="DirectorioArchivos" asp-action="DirectorioArchivos" class="btn btn-primary mb-3">Directorio de archivos</a>

