@{
    ViewData["Title"] = "Inicio Administrador";
}

<a asp-controller="Usuarios" asp-action="ListaUsuarios" class="btn btn-primary mb-3">Lista de usuarios</a>
<a asp-controller="Proyectos" asp-action="ListaProyectos" class="btn btn-primary mb-3">Lista de proyectos</a>
<a asp-controller="Constructoras" asp-action="ListaConstructoras" class="btn btn-primary mb-3">Lista de constructoras</a>
<a asp-controller="CatalogoConceptos" asp-action="ListaCatalogos" class="btn btn-primary mb-3">Catalogos de conceptos</a>
<a asp-controller="DirectorioArchivos" asp-action="DirectorioArchivos" class="btn btn-primary mb-3">Directorio de archivos</a>
<a asp-controller="Registros" asp-action="Registros" class="btn btn-primary mb-3">Registro de actividades</a>


