
@{
    ViewData["Title"] = "Sin Frente de obra asignado";
}

<h1>Sin Frente de obra asignado.</h1>
<p>Aun no tienes un frente de obra asignado. Espera a que se te asigne un frente de obra para que puedas trabajar.</p>