@model ADS.Models.ReporteDiario



@{
   ViewData["Title"] = "CrearReporteDiario";
   ViewBag.Fecha= DateTime.Now.ToString("yyyy-MM-dd");
}



    <h1>Generar Reporte Diario</h1>
    <p>Fecha: @ViewBag.Fecha</p>
    <p>Supervisor: </p>
    <p>Proyecto: </p>
<form asp-controller="ReporteDiario" asp-action="CrearReporteDiario" method="post">

       <label for="ActividadesReportes">Actividades:</label>
        <table border="1">
            <tr>
                <th>Numero</th>
                <th>Actividad</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
                 <tr>
                <td>..</td>
                <td><input type="text" asp-for="ActividadesReportes" name="Actividad" id="Actividad" required></td>
                <td><textarea asp-for="Descripcion" name="Descripcion" rows="4" id="Descripcion" required></textarea></td>
                <td><button type="button">Eliminar</button>
                <button type="button">Editar</button>
            </td>
            </tr>
        </table>
    <button type="button"> Agregar</button>
    <table BORDER="1">
        <tr>
            <th>Numero</th>
            <th>Problematica</th>
            <th>Estado</th>
            <th>Acciones Correctivas</th>
            <th>Acciones</th>
        </tr>
        <tr>
            <td>..</td>
            <td><input type="text" asp-for="ActividadNavigation" name="Problema" id="Problematica" required></td>
             <td>
                <select asp-for="IdEstadoProblemaNavigation" name="EstadoP">
                    <option value="1">No Atendido</option>
                    <option value="2">En Progreso</option>
                    <option value="3">Atendido</option>
                </select> </td>
            <td>
            <td><textarea Asp-for="ActividadesCorrectivasNavigation" name="ActividadesCorrectivas" id="ActividadesCorrectivas" rows="4" required></textarea></td>
            <td>
                <a class="btn btn-secondary" asp-controller="ReporteDiario" asp-action="Agregar" onclick="">Eliminar</a>
                <a class="btn btn-secondary" asp-controller="ReporteDiario" asp-action="CrearReporte" onclick="">Editar</a>

            </td>
        </tr>
</table>
        <button type="button"> Agregar</button>

  

        <label for="fotografias">Iamgenes:</label>
        <input asp-for="ImagenesReportes" type="file" name="SRC" accept="image/*" multiple>

        <label for="HorasLLuvia">Horas de Lluvia:</label>
        <input asp-for="HorasLluvia" type="number" name="HorasLluvia" min="0" max="24" maxlength="2">

       <button type="submit">Generar Reporte</button>
    </form>


@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            // Manejar el clic del botón
            $('#btnActualizar').click(function () {
                // Realizar una solicitud AJAX
                $.ajax({
                    url: '/ReporteDiario/CrearReporte ', 
                    type: 'GET',
                    success: function (result) {
                        // Actualizar la parte de la página con el resultado
                        $('#resultadoParcial').html(result);
                    },
                    error: function () {
                        // Manejar errores si es necesario
                        alert('Error al actualizar la página.');
                    }
                });
            });
        });
    </script>
}
